@charset "utf-8";
/* CSS Document */

/* TEXTS */
#infoTitle{
	text-align: center;
}
/* TEXTS END */

#infoImg{
	width: 100%;
	margin: auto;
}

/* CONTAINERS */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0px;
}

.formContainer{
	margin: auto;
	width: 80%;
	padding: 8px;
}

.infoContainer{
	text-align: center;
	padding: 8px;
}

.imgContainer{
	width: 75%;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 6px;
	padding: 8px;
}
/* CONTAINERS END */

/* INPUTS */
input[type="text"],
input[type="password"]{
	width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 18px;
}
/* INPUTS END */

/* ERROR MSG */
.msgError{
	display: none;
	background-color: transparent;
	color: #FF9A62;
}
/* ERROR MSG END*/

/* BOTON LOGIN */
button[type="submit"]{
	margin-top: 24px;
	width: 100%;
}

/*snippet from eluda recovered from: https://app.ui-snippets.com/buttons/3d-button-2 */
.btn-54,
.btn-54 *,
.btn-54 :after,
.btn-54 :before,
.btn-54:after,
.btn-54:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-54 {
  -webkit-tap-highlight-color: 
transparent;
  -webkit-appearance: button;
  background-color: 
#D6DBDF;
  background-image: none;
  color: 
#1B2631;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-54:disabled {
  cursor: default;
}
.btn-54:-moz-focusring {
  outline: auto;
}
.btn-54 svg {
  display: block;
  vertical-align: middle;
}
.btn-54 [hidden] {
  display: none;
}
.btn-54 {
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  padding: 1.8rem 5rem;
  position: relative;
  text-transform: uppercase;
  background: none;
}
.btn-54 .content,
.btn-54 .depth,
.btn-54 .shadow {
  transition: transform 0.2s;
}
.btn-54 .content {
  background: 
#fff;
  color: 
#000;
  display: grid;
  height: 84%;
  left: 0;
  place-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-54 .depth {
  background: 
#ccc;
  height: 10%;
  top: 84%;
}
.btn-54 .depth,
.btn-54 .shadow {
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
}
.btn-54 .shadow {
  background: 
#777;
  height: 6%;
  top: 94%;
}
.btn-54:hover .content {
  transform: translateY(4%);
}
.btn-54:hover .shadow {
  transform: translateY(-20%);
}
.btn-54:active .content {
  transform: translateY(8%);
}
.btn-54:active .shadow {
  transform: translateY(-30%);
}