@charset "utf-8";
/* CSS Document */

/* TEXTS */
#infoTitle{
	text-align: center;
}
/* TEXTS END */

#infoImg{
	width: 100%;
	margin: auto;
}

/* CONTAINERS */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0px;
	margin-bottom: 8px;
}

.formContainer{
	margin: auto;
	width: 80%;
	padding: 8px;
}

.infoContainer{
	text-align: center;
	padding: 8px;
}

.infoContainer a{
  color: #FF9A62;
  font-weight: 700;
}

.infoContainer a:hover{
  text-decoration: underline;
}

.imgContainer{
	width: 75%;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 6px;
	padding: 8px;
}
/* CONTAINERS END */

/* INPUTS */
input[type="text"],
input[type="password"]{
	width: 100%;
}
/* INPUTS END */

/* ERROR MSG */
.msgError{
	display: none;
	background-color: transparent;
	color: #FF9A62;
	margin-top: 0;
	margin-bottom: 8px;
}
/* ERROR MSG END*/

/* BOTON LOGIN */
button[type="submit"]{
	margin-top: 24px;
	width: 100%;
}


/*snippet from eluda recovered from: https://app.ui-snippets.com/buttons/3d-button-2 */
.btn-54,
.btn-54 *,
.btn-54 :after,
.btn-54 :before,
.btn-54:after,
.btn-54:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-54 {
  -webkit-tap-highlight-color: 
transparent;
  -webkit-appearance: button;
  background-color: 
#D6DBDF;
  background-image: none;
  color: 
#1B2631;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-54:disabled {
  cursor: default;
}
.btn-54:-moz-focusring {
  outline: auto;
}
.btn-54 svg {
  display: block;
  vertical-align: middle;
}
.btn-54 [hidden] {
  display: none;
}
.btn-54 {
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  padding: 1.8rem 5rem;
  position: relative;
  text-transform: uppercase;
  background: none;
}
.btn-54 .content,
.btn-54 .depth,
.btn-54 .shadow {
  transition: transform 0.2s;
}
.btn-54 .content {
  background: 
#85929E;
transition: 0.65s;
  color: 
#000;
  display: grid;
  height: 84%;
  left: 0;
  place-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-54 .depth {
  background: 
#4D5656;
  height: 10%;
  top: 84%;
}
.btn-54 .depth,
.btn-54 .shadow {
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
}
.btn-54 .shadow {
  background: 
#000;
  height: 6%;
  top: 94%;
}
.btn-54:hover .content {
  transform: translateY(4%);
}
.btn-54:hover .shadow {
  transform: translateY(-20%);
}
.btn-54:active .content {
  transform: translateY(8%);
}
.btn-54:active .shadow {
  transform: translateY(-30%);
}

.btn-54 .content:hover{
  transition: 0.65s;
  background: #b1bac2;
  font-size: larger;
}

/*snippet from ui-snippets recovered from: https://app.ui-snippets.com/inputs/border-effect-8 */
.wrap-input-8 {
  width: 100%;
  position: relative;
  margin-top: 8px;
  margin-bottom: 4px;
}

.wrap-input-8 .input {
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background-color: #f5f6fd;
  border: 1px solid #ccc;
  padding: 6px;
  transition: 0.4s;
}

.wrap-input-8 .input:focus {
  outline: none;
}

.wrap-input-8 .input ~ .focus-border:before,
.wrap-input-8 .input ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #FFD526;
  transition: 0.3s;
}

.wrap-input-8 .input ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.wrap-input-8 .input ~ .focus-border i:before,
.wrap-input-8 .input ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 0;
  background-color: #FFD526;
  transition: 0.4s;
}

.wrap-input-8 .input ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}

.wrap-input-8 .input:focus ~ .focus-border:before,
.wrap-input-8 .input:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.3s;
}

.wrap-input-8 .input:focus ~ .focus-border i:before,
.wrap-input-8 .input:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.4s;
}
