/* Main Section Start */

.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.main-section .col-5, .main-section .col-7{
    padding: 20px;
    background-color: rgb(33, 47, 60);
}

.main-section div span{
    color: rgb(214, 219, 223);
    font-weight: 1000;
}

#title-container{
    display: flex;
    justify-content: center;
}

#title-container span{
    color: #FF9A62;
}

#main-img{
    width: 50%;
}

.main-section .col-5{
    width: 100%;
}

#main-img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#resources-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

/* Main Section End */

